body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header,
.hero-section,
.content,
.footer {
    display: flex;
}

.header,
.hero-section,
.cta-section,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 8px 128px;
}

.hero-section {
    padding: 128px;
    gap: 64px;
    justify-content: flex-start;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-title {
    flex: 1;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-desc {
    font-size: 18px;
    width: 500px;
}

.hero-image {
    width: auto;
    height: 500px;
    flex: 1;
}

.sign-up {
    background-color: #3882F6;
    border-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    padding: 12px 24px;
    width: fit-content;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
}


/* Content Section */
.content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-subheader {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 96px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.card img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.card div {
    text-align: center;
    width: 200px;
}


.quote-section{
    background-color: #E5E7EB;
    flex: 1 1 300px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text{
    width: 800px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}


.cta-section {
    background-color: #3882F6;
    border-radius: 4px;
    display: flex;
    margin: 128px auto;
    padding: 64px 128px;
    gap: 64px;
}

.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.cta-title {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.white-border {
    border-color: #F9FAF8;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 32px;
}